<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">

    <script src="https://kit.fontawesome.com/6ca4b3b7d4.js" crossorigin="anonymous">
    </script>
    <link href="../assets/style.css" rel="stylesheet" type="text/css" />
    <title>VCall Services</title>


    <body>

        <section id="services" class="services">
            <div class="container ">
                <div class="section-title">
                    <div class="call">V</div>
                    <div class="call1">Call</div>
                    <h3>We do offer awesome <span>Services</span></h3>
                </div>

                <div class="row abc">
                    <div class="service ">
                        <div class="icon-box">
                            <div class="icon">
                                <h1><i class="far fa-address-book"></i></h1>
                            </div>

                            <h4 class="title"><a href="">Create an account or login</a></h4><br>
                            <div class="button">
                                <a href="/users/register" class="btn btn-primary btn-block mb-2  ">Register</a>
                            </div>
                            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
                        </div>
                    </div>
                </div>
                <br><br><br><br><br>
                <footer class="footer py-4">
                    <div class="container-fluid ">
                        <div class="row align-items-center">
                            <div class="col-lg-4 text-lg-left">
                                Copyright &copy; VCall Services
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                            </div>
                            <div class="col-lg-4 my-3 my-lg-0 footpad">
                                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                            <div class="col-lg-4 text-lg-right">
                                All rights reserved | This website is made with <i class="fas fa-heart"></i> by THE BULLS.
                            </div>
                        </div>
                    </div>
                </footer>


            </div>
        </section>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    </body>

</html>